<div class="login_wrap" id="social_login_form">
    <h2 class="title-after">Or sign in with</h2>
    <h4 class="title-before">Or sign in with</h4>
    <ul class="splynx-social clearfix">
        <li>
            <a href="/register/site/auth?authclient=google" title="Google" id="social_link_google"
               class="google-color">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.64 9.20456C17.64 8.56637 17.5827 7.95274 17.4764 7.36365H9V10.845H13.8436C13.635 11.97 13.0009 12.9232 12.0477 13.5614V15.8196H14.9564C16.6582 14.2527 17.64 11.9455 17.64 9.20456Z" fill="#4285F4"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C11.43 18 13.4673 17.1941 14.9564 15.8195L12.0477 13.5614C11.2418 14.1014 10.2109 14.4204 9 14.4204C6.65591 14.4204 4.67182 12.8373 3.96409 10.71H0.957275V13.0418C2.43818 15.9832 5.48182 18 9 18Z" fill="#34A853"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.96409 10.71C3.78409 10.17 3.68182 9.59319 3.68182 9.00001C3.68182 8.40683 3.78409 7.83001 3.96409 7.29001V4.95819H0.957273C0.347727 6.17319 0 7.54774 0 9.00001C0 10.4523 0.347727 11.8268 0.957273 13.0418L3.96409 10.71Z" fill="#FBBC05"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.57955C10.3214 3.57955 11.5077 4.03364 12.4405 4.92545L15.0218 2.34409C13.4632 0.891818 11.4259 0 9 0C5.48182 0 2.43818 2.01682 0.957275 4.95818L3.96409 7.29C4.67182 5.16273 6.65591 3.57955 9 3.57955Z" fill="#EA4335"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="/register/site/auth?authclient=facebook" title="Facebook" id="social_link_facebook"
               class="facebook-color">
                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.625 9.05596C18.625 4.057 14.5931 0 9.625 0C4.65693 0 0.625 4.057 0.625 9.05596C0.625 13.5793 3.91542 17.3285 8.22541 18V11.6674H5.92675V9.05596H8.22541V7.0601C8.22541 4.79378 9.56012 3.53471 11.6178 3.53471C12.6003 3.53471 13.6198 3.72124 13.6198 3.72124V5.93161H12.4891C11.3675 5.93161 11.0153 6.64042 11.0153 7.34922V9.04663H13.5179L13.1193 11.658H11.0153V17.9907C15.3346 17.3285 18.625 13.5793 18.625 9.05596Z" fill="#1877F2"/>
                    <path d="M13.1284 11.5984L13.5269 9.0045H11.0244V7.31845C11.0244 6.60512 11.3858 5.91032 12.4981 5.91032H13.6289V3.70548C13.6289 3.70548 12.6093 3.5202 11.6268 3.5202C9.56915 3.5202 8.23445 4.77085 8.23445 7.022V9.0045H5.93579V11.5984H8.23445V17.8887C8.68862 17.9628 9.16133 17.9999 9.63404 17.9999C10.1067 17.9999 10.5795 17.9628 11.0336 17.8887V11.5984H13.1284Z" fill="white"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="/register/site/auth?authclient=twitter" title="X" id="social_link_x"
               class="x-color">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_58359_15217)">
                        <path d="M10.6767 7.61786L17.2301 0H15.6772L9.9868 6.61448L5.44193 0H0.199951L7.07269 10.0023L0.199951 17.9908H1.753L7.76217 11.0056L12.5619 17.9908H17.8039L10.6763 7.61786H10.6767ZM8.54956 10.0904L7.85321 9.09439L2.31258 1.16911H4.69797L9.16932 7.56506L9.86567 8.56106L15.6779 16.8748H13.2925L8.54956 10.0908V10.0904Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_58359_15217">
                            <rect width="17.6039" height="18" fill="white" transform="translate(0.199951)"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </li>
    </ul>
</div>
<script>
    (function () {
        const loginWrap = document.querySelector('.login_wrap');
        const splynxWelcomeTitle = document.querySelector('.splynx-welcome h2');

        if (loginWrap?.parentElement?.parentElement?.classList.contains('login-after') && splynxWelcomeTitle) {
            splynxWelcomeTitle.setAttribute('style', 'display: none');
        }

        let csrfToken = window.csrf.getCsrfToken()

        $.ajax({
            type: "GET",
            url: "/register/settings",
            async: true,
            dataType: "json",
            complete: (event) => {
                if (event.status === 404) {
                    setTimeout(() => {
                        window.csrf.setCsrfToken('_csrf_token', csrfToken);
                    }, 0);
                }
            },
            success: function (data) {
                let count = 0;
                let length = 0;

                for (const client in data) {
                    if (Object.hasOwnProperty.call(data, client)) {
                        const value = data[client];
                        length += 1;

                        const element = document.getElementById('social_link_' + client);
                        if (element) {
                            if (value === true) {
                                element.style.removeProperty("display");
                            } else {
                                count += 1;
                                element.style.display = 'none';
                            }
                        }
                    }
                }

                if (count === length) {
                    const socialLoginForm = document.getElementById('social_login_form');
                    if (socialLoginForm) {
                        socialLoginForm.style.display = 'none';
                    }
                }
            }
        });

        const originalLoginBefore = document.querySelector('.login-before');
        const socialLoginFormWrapper = originalLoginBefore.querySelector('div');
        const socialLoginForm = document.querySelector('#social_login_form');
        const loginFooter = document.querySelector('.login-footer');

        if (originalLoginBefore && socialLoginFormWrapper && socialLoginForm && loginFooter) {
            socialLoginFormWrapper.removeChild(socialLoginForm);

            const newLoginBefore = document.createElement('div');
            newLoginBefore.classList.add('login-before');
            loginFooter.insertAdjacentElement('afterend', newLoginBefore);

            newLoginBefore.appendChild(socialLoginForm);
        }
    })();
</script>
<style>
    .login_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login_wrap h2, h4 {
        color: #6C757D;
        font-weight: 600;
    }

    .login_wrap h2 {
        font-size: 20px;
    }

    .login_wrap h4 {
        font-size: 16px;
    }

    .splynx-social {
        display: flex;
        gap: 20px;
        max-width: 166px;
    }

    .login-after .login_wrap {
        margin-top: 16px;
    }

    .login-after .login_wrap .title-before {
        display: none;
    }

    .login-before .login_wrap .title-after {
        display: none;
    }

    .login-after .login_wrap .splynx-social {
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 80px;
    }

    .login_wrap .splynx-social li {
        list-style: none;
    }

    .login_wrap .splynx-social a {
        display: flex;
        width: 42px;
        height: 42px;
        align-items: center;
        justify-content: center;
        background: white;
        border: 1px solid #DFE4ED;
        border-radius: 50%;
    }

    .login-before .login_wrap {
        position: relative;
        width: 100%;
        border-top: 1px solid #E9ECEF;
        padding: 24px 16px;
        margin-top: 24px;
    }

    .login-before .login_wrap h4 {
        position: absolute;
        background: white;
        padding: 0 12px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .login-before .login_wrap .splynx-social {
        justify-content: center;
    }
</style>