<div class="register_wrap">
    <h4>Not registered yet?</h4>
    <a href="/register/" title="Self registration" class="btn btn-outline-primary">Sign up</a>
</div>
<script>
    (function () {
        const registerWrap = document.querySelector('.register_wrap');
        const splynxWelcomeTitle = document.querySelector('.splynx-welcome h2');

        if (registerWrap?.parentElement?.parentElement?.classList.contains('login-after') && splynxWelcomeTitle) {
            splynxWelcomeTitle.setAttribute('style', 'display: none');
        }
    })();
</script>
<style>
    .register_wrap {
        text-align: center;
    }

    .login-after .register_wrap {
        margin-top: 16px;
    }

    .register_wrap h4 {
        color: #6C757D;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 16px;
    }

    .btn {
        line-height: unset;
    }

    .btn-outline-primary {
        color: #357bf2;
        border-color: #357bf2;
        background-color: #fff;
    }
    .btn-outline-primary:hover {
        color: #fff;
        background-color: #357bf2;
        border-color: #357bf2;
    }
</style>