<div>

    <h1>{{ Html.encode(name) }}</h1>

    <div class="alert alert-success">
        {{ Html.encode(message) | nl2br | raw }}
        <p>
            <b> Thank you for registration. Our sales team will contact you soon. </b>
        </p>

    </div>

</div>