<meta http-equiv="refresh" content="11; url={{ redirect_url }}"/>
<div>

    <h1>{{ Html.encode(name) }}</h1>

    <div class="alert alert-success">
        {{ Html.encode(message) | nl2br | raw }}
        <p>
            <b> Success! Your login and password send to you by {{ transport }}. </b><br/>
            You will be redirected after 10 seconds or follow <a href="{{ redirect_url }}">link</a>.
        </p>

    </div>

</div>