{{ use ('/yii/authclient/widgets/AuthChoice') }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="site-index">
    {% set isPartners = false %}
    {% set isInternet = false %}
    {% set isVoice = false %}
    {% set isCustom = false %}

    <div class="body-content">
        <div class="form-signin">
            <h2 class="form-signin-heading">Registration</h2>

            <div id="social">
                {% if social and real_added != constant('IN_PROCESS_SOCIAL', model) %}
                    <h3>Register via social networks</h3>
                    {% set authAuthChoice = AuthChoice_begin({
                        baseAuthUrl: ['site/auth'],
                        popupMode: false
                    }) %}
                    <ul class="social_buttons"> {% for client in authAuthChoice.getClients() %}
                            <li class="social_button"><a
                                        href="{{ authAuthChoice.createClientUrl(client) }}"
                                        class="btn btn-block btn-social btn-lg btn-{{ client.name }}">
                                    <i class="fa fa-{{ client.name }}"></i> Sign up with
                                    <b>{{ client.name }}</b></a>
                            </li>
                        {% endfor %}
                    </ul>
                    {{ AuthChoice_end | raw }}
                {% endif %}
            </div>

            {% if config['form_enable'] or real_added == constant('IN_PROCESS_SOCIAL', model) %}
                <div id="sign_up" {% if real_added != constant('IN_PROCESS', model) or not social %} style="display: none;" {% endif %}>
                    <h3>Or</h3>
                    <button type="button" class="btn btn-primary" id="button">Sign up</button>
                </div>
            {% endif %}
        </div>
    </div>

    {% if config['form_enable'] or real_added == constant('IN_PROCESS_SOCIAL', model) %}
        <div id="form"
             class="form-signin" {% if (real_added == constant('IN_PROCESS', model)) and social %} style="display: none;" {% endif %}>
            <h3 class="form-signin-heading">Please complete the form to finish registration</h3>
            {% set active_form = active_form_begin({
                'id': 'send-form',
                'enableClientValidation': false,
                'enableAjaxValidation': true
            }) %}

            {% if config['form_partner'] %}
                {% set partners = model.getAvailablePartnersList() %}
                {% if partners is not empty %}
                    {% set isPartners = true %}
                    {{ active_form.field(model, 'partner_id').dropDownList(partners, {'prompt' : '- Select partner -'}).label('Partner') | raw }}
                {% endif %}
            {% endif %}
            {% if config['form_location'] %}
                {% set locations = model.getAvailableLocationsList() %}
                {% if locations is not empty %}
                    {{ active_form.field(model, 'location_id').dropDownList(locations, {'prompt' : '- Select location -'}).label('Location') | raw }}
                {% endif %}
            {% endif %}
            {% if config['register_as']=='customer' %}
                {% if config['form_internet_tariff'] %}
                    {% set internet_tariffs = model.getAvailableTariffsList() %}
                    {% if internet_tariffs is not empty %}
                        {% set isInternet = true %}
                        {{ active_form.field(model, 'internet_tariff').dropDownList(internet_tariffs, {'prompt' : '- Select tariff -'}) | raw }}
                    {% endif %}
                {% endif %}
                {% if config['form_voice_tariff'] %}
                    {% set voice_tariffs = model.getAvailableVoiceTariffsList() %}
                    {% if voice_tariffs is not empty %}
                        {% set isVoice = true %}
                        {{ active_form.field(model, 'voice_tariff').dropDownList(voice_tariffs, {'prompt' : '- Select voice tariff -'}) | raw }}
                    {% endif %}
                {% endif %}
                {% if config['form_custom_tariff'] %}
                    {% set custom_tariffs = model.getAvailableCustomTariffsList() %}
                    {% if custom_tariffs is not empty %}
                        {% set isCustom = true %}
                        {{ active_form.field(model, 'custom_tariff').dropDownList(custom_tariffs, {'prompt' : '- Select custom tariff -'}) | raw }}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if model.email == null %}
                {{ active_form.field(model, 'email') | raw }}
            {% endif %}
            {% if config['form_login'] %}
                {{ active_form.field(model, 'login') | raw }}
            {% endif %}
            {% if config['form_password'] %}
                {{ active_form.field(model, 'password').passwordInput | raw }}
                {{ active_form.field(model, 'password_repeat').passwordInput | raw }}
            {% endif %}
            {{ active_form.field(model, 'full_name') | raw }}
            {% if config['form_street'] %}
                {{ active_form.field(model, 'street') | raw }}
            {% endif %}
            {% if config['form_city'] %}
                {{ active_form.field(model, 'city') | raw }}
            {% endif %}

            {% if config['form_zip_code'] %}
                {{ active_form.field(model, 'zip_code') | raw }}
            {% endif %}

            {% if config['form_phone'] or config['send_verification_code_type'] == 'sms' %}
                {{ active_form.field(model, 'phone') | raw }}
            {% endif %}

            {% if config['form_comment'] %}
                {{ active_form.field(model, 'comment').textarea({
                    rows: 5,
                    style: 'white-space:wrap; overflow:auto;'
                }) | raw }}
            {% endif %}

            {% if config['form_license_agreement'] %}
                {{ active_form.field(model, 'license_agreement').checkbox().label(model.licenseLabel()) | raw }}
            {% endif %}

            {{ Html.submitButton('Sign in', {
                'class': 'btn btn-primary',
                'name': 'send-button'
            }) | raw }}
        </div>
        {{ active_form_end() }}
    {% endif %}
</div>
</div>

<script>
    {% include 'index.js.twig' %}
</script>

