<script type="text/javascript">
    function show_link() {
        document.getElementById('resend').style.display = 'block';
    }

    setTimeout('show_link()', 180000);

    function startTimer(duration, display) {
        var start = Date.now(),
            diff,
            minutes,
            seconds,
            check = false;

        function timer() {
            // get the number of seconds that have elapsed since
            // startTimer() was called
            diff = duration - (((Date.now() - start) / 1000) | 0);
            if (check) return;
            if (diff <= 0) check = true;
            // does the same job as parseInt truncates the float
            minutes = (diff / 60) | 0;
            seconds = (diff % 60) | 0;

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (diff <= 0) {
                // add one second so that the count down starts at the full duration
                // example 03:00 not 02:59
                start = Date.now() + 1000;
            }
        }

        // we don't want to wait a full second before the timer starts
        timer();
        setInterval(timer, 1000);
    }

    window.onload = function () {
        var threeMinutes = 60 * 3,
            display = document.querySelector('#time');
        startTimer(threeMinutes, display);
    };
    $(document).ready(function () {
        var secret = $('#addrealcustomer-code').val();
        if (secret) {
            $('#confirm-form').submit();
        }
    });
</script>

<div class="site-index">

    <div class="body-content">
        <div class="form-signin form-confirm">
            <h2 class="form-signin-heading">Confirm code</h2>
            {% set active_form = active_form_begin({
                'id': 'confirm-form'
            }) %}

            {{ active_form.field(model, 'code').passwordInput | raw }}

            {{ Html.submitButton('Confirm', {
                'class': 'btn btn-primary',
                'name': 'confirm-button'
            }) | raw }}

            {{ active_form_end() }}

            <br><br>
            <i>If you not received Verification code click on the link that will appear in <span id="time"></span>
                minutes<a
                        href="/register/send-code-again"
                        id="resend" style="display: none;">"Send
                    Again"</a></i>
        </div>
    </div>
</div>
