<div class="site-error">

    <h1>{{ Html.encode(name) }}</h1>

    <div class="alert alert-danger">
        {{ Html.encode(message) | nl2br | raw }}
        <p>
            Set correct send_verification_code_type in your params.php
        </p>
    </div>
</div>
