<div class="site-error">

    <h1>{{ Html.encode(name) }}</h1>

    <div class="alert alert-danger">
        {{ Html.encode(message) | nl2br | raw }}
        <p>
           <b> Customer with {{ message_data }} already exist. Choose other.</b>
        </p>

    </div>

</div>
