$(document).ready(function () {
    $("#button").click(function () {
        $("#social").hide();
        $("#sign_up").hide();
        $("#form").show();
    });
    if (window.location.hash === "#_=_") {
        if (history.replaceState) {
            history.replaceState(null, null, window.location.href.split("#")[0]);
        } else {
            window.location.hash = "";
        }
    }
});

{% if config['form_partner'] and isPartners %}
var partner = $('#customers-partner_id');
{% if  config['form_internet_tariff'] and isInternet %}
partner.on('change', function () {
    var internet = $('#customers-internet_tariff');
    $.getJSON("/register/get-tariffs?partner=" + $(this).val(), function (data) {
        internet.empty();
        internet.append("<option value>- Select tariff -</option>");
        $.each(data['internet'], function (index, value) {
            internet.append("<option value=" + index + ">" + value + "</option>");
        });
    });
});
{% endif %}
{% if  config['form_voice_tariff'] and isVoice %}
partner.on('change', function () {
    var voice = $('#customers-voice_tariff');
    $.getJSON("/register/get-tariffs?partner=" + $(this).val(), function (data) {
        voice.empty();
        voice.append("<option value>- Select voice tariff -</option>");
        $.each(data['voice'], function (index, value) {
            voice.append("<option value=" + index + ">" + value + "</option>");
        });

    });
});
{% endif %}
{% if  config['form_custom_tariff'] and isCustom %}
partner.on('change', function () {
    var custom = $('#customers-custom_tariff');
    $.getJSON("/register/get-tariffs?partner=" + $(this).val(), function (data) {
        custom.empty();
        custom.append("<option value>- Select custom tariff -</option>");
        $.each(data['custom'], function (index, value) {
            custom.append("<option value=" + index + ">" + value + "</option>");
        });
    });
});
{% endif %}
{% endif %}