@import '/css/development/fontHelvetica.css';

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.wrap>.container {
    height: auto;
    margin: 60px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    min-height: calc(100vh - 86px);
    flex-direction: column;
    background: #fff;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    flex: 1 0 auto;
}

.footer {
    width: 100%;
    background: #fafafa;
    text-align: center;
    padding: 8px 0;
    z-index: 30;
    margin-bottom: 0;
    font-size: 10px;
    clear: both;
    flex: 0 0 auto;
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 8px 0 !important;
    }
}

.footer p {
    line-height: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #212121;
    margin: 0;
}

.footer p a {
    color: #337ab7;
}

.site-index{
    padding-bottom:30px;
}
.site-index h3{
    text-align: center;
}
.social_buttons{
    margin: 20px 0;
    list-style: none;
    padding:0;
}
.social_buttons .social_button{
    width: calc(100% / 3 - 20px);
    display: inline-block;
    margin:0 10px;
    float:left;
}

.social_buttons:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.social_buttons .social_button a{
    width: 100%;
}
#social{
    margin-top: 50px;
}
#sign_up{
    text-align: center;
    margin-top: 50px;
}
#sign_up .btn-primary{
    width: calc(100% / 3 - 20px);
    height: 49px;
}

#form{
    margin-top: 50px;
}
#send-form{
    width:520px;
    max-width: 100%;
    margin: 30px auto;
}
.form-confirm{
    width:520px;
    max-width: 100%;
    margin: 30px auto;
}
@media only screen and (max-width: 991px) {
    .social_buttons{
        text-align: center;
    }
    .social_buttons .social_button{
        width: calc(100% / 2 - 20px);
        margin:10px 10px;
        float:none;
    }
    #sign_up .btn-primary{
        width: calc(100% / 2 - 20px);
    }
}
@media only screen and (max-width: 768px) {
    .social_buttons{
        text-align: center;
    }
    .social_buttons .social_button{
        width: 70%;
    }
    #sign_up .btn-primary{
        width: 70%;
    }
}
@media only screen and (max-width: 550px) {
    .social_buttons{
        text-align: center;
    }
    .social_buttons .social_button{
        width: 280px;
        margin-left: 0;
        margin-right: 0;
    }
    #sign_up .btn-primary{
        width: 280px;
    }
}