<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .fs {
            font-family: Arial, Verdana, sans-serif;
            font-size: 15px;
        }

        body {
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="fs"><h4 style="text-align: center">Agreement notification</h4>

    Hello {{ customer.name }}, you successfully registered in system.
    <br>
    <br>
    <div>
        You can log in, follow the link: <a
                style="text-decoration: none;color: #fff; background-color: rgb(17, 192, 128);border-radius: 4px; text-align: center;"
                href="http://example.com/portal">&nbsp;&nbsp; Log in system &nbsp;&nbsp;</a>
    </div>

    <div style="margin-top: 25px;">
        We have sent you an agreement attached to this letter.
        View attachments in this mail to get your agreement.
    </div>
    <br>
    <div>
        Do not transfer your data and documents to third parties.<br>
        If this letter is not addressed to you, please remove it.
    </div>
</div>
</body>
</html>
