<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        td, th, tr {
            border: 1px solid black;
            word-wrap: break-word;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
            font-family: Arial, Verdana, sans-serif;
            font-size: 10px;
        }

        .fs {
            font-family: Arial, Verdana, sans-serif;
            font-size: 10px;
        }

        body {
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
<div style="text-align: center" class="fs"><h4>SUBSCRIBER CONTRACT</h4>
    entered into between
</div>
<br>
<div>
    <table style="width:100%">
        <tr>
            <td bgcolor="#e0e0e0" style="width: 15%"><b>Description and Registration No.</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>VAT</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Physical Address</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Postal Address</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Fax No.</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Email</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Signature</b><br>Who warrants he/she is duly authorized hereto</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Name</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Designation</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Date</b></td>
            <td style="width: 30%"></td>
            <td bgcolor="#e0e0e0" style="width: 10%"><b>Place</b></td>
            <td></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Witnesses</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Witnesses Name and Contact Detail</b></td>
            <td colspan="3"></td>
        </tr>
    </table>
</div>
<br>
<div style="text-align: center">(<b>"ISP"</b>) and
</div>
<br>
<div>
    <table style="width:100%">
        <tr>
            <td bgcolor="#e0e0e0" style="width: 15%"><b>Company Name /<br>Name and Surname</b></td>
            <td colspan="3">{{ customer.name }}</td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Registration No. / ID No.</b></td>
            <td style="width: 30%">{{ customer.id }}</td>
            <td bgcolor="#e0e0e0" style="width: 10%"><b>VAT Number</b></td>
            <td></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Physical Address</b></td>
            <td colspan="3">{{ customer.street_1 ~ ', ' ~ customer.city }}</td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Postal Address</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>WiFi Password</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Email</b></td>
            <td colspan="3">{{ customer.email }} {% if customer.phone is not empty %}
                    <br>(Phone. {{ customer.phone }}){% endif %}
            </td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Signature</b><br>Who warrants he/she is duly authorized hereto</td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Name</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Designation</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Date</b></td>
            <td style="width: 30%">{{ 'now'|date('d-m-Y') }}</td>
            <td bgcolor="#e0e0e0" style="width: 10%"><b>Place</b></td>
            <td></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Witnesses</b></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td bgcolor="#e0e0e0"><b>Witnesses Name and Contact Detail</b></td>
            <td colspan="3"></td>
        </tr>
    </table>
</div>
<br>
<div style="text-align: center" class="fs">(<b>"Subscriber"</b>)<br>
    (together the <b>"Parties"</b>. A reference to <b>"Party"</b> shall be a reference to one of them as so determined
    by the context.)<br>For the period and services selected on Page 2 (two)
</div>


<div style="position: fixed; bottom: 0; width: 100%;" class="fs">
    <div style="text-align: right">Initial_________</div>
    <hr style="width: 100%"/>
    <div>SUBSCRIBER AGREEMENT V 1.0</div>
    <div style="text-align: right">Page 1</div>
</div>

<div style="page-break-before: always;"></div>






<div style="text-align: center"><h4>Agreement text</h4>
    Agreement text between customer and ISP
</div>
<div class="fs">
    {% set services = loader.getServicesByType('internet') %}
    {% if services is not empty %}
        {% for service in services %}
            <br>
            <b>Service:</b> {{ service.id }}<br>
            Tariff: {{ service.tariff_id }}<br>
            Description: {{ service.description }}<br>
            Service login: {{ service.login }}<br>
            Status: {{ service.status }}<br>
            Price: {{ service.unit_price }}<br>
        {% endfor %}
    {% endif %}
</div>




<div style="position: fixed; bottom: 0; width: 100%;" class="fs">
    <div style="text-align: right">Initial_________</div>
    <hr style="width: 100%"/>
    <div>SUBSCRIBER AGREEMENT V 1.0</div>
    <div style="text-align: right">Page 2</div>
</div>
</body>
</html>
