<div>
    <pre><i><u>ISP registration.</u></i>

       Your Verification code: <b>{{ verification_code }}</b>
       Enter on the confirmation page or follow the link: <a style="text-decoration: none;color: #fff; background-color: rgb(17, 192, 128);border-radius: 4px; text-align: center;"
                href="{{ domain }}register/confirm?secret={{ verification_code }}">&nbsp;&nbsp;Confirm&nbsp;&nbsp;</a>
    </pre>
</div>
<div class="container">
    <p class="pull-right">&copy; <a href="{{ domain }}">{{ domain }}</a> {{ date }}</p>
</div>