<div>
    <pre><i><u>Thank you for registration.</u></i>

        Our sales team will contact you soon.
    </pre>
</div>
<div class="container">
    <p class="pull-right">&copy; <a href="{{ domain }}">{{ domain }}</a> {{ date }}</p>
</div>