<div>
    <pre><i><u>ISP registration.</u></i>

        You successfully registered in system.

        Your login: <b>{{ login }}</b> and password: <b>{{ password }}</b>.

        You can log in by <a href="{{ link }}"><b>follow this link</b></a>
    </pre>
</div>
<div class="container">
    <p class="pull-right">&copy; <a href="{{ domain }}">{{ domain }}</a> {{ date }}</p>
</div>